@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);#flash-message {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 20px;
  -webkit-animation: flash-message 5s forwards;
          animation: flash-message 5s forwards;
}

@-webkit-keyframes flash-message {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes flash-message {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

